<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
</head>
<body>
    <p th:text="'Hello, ' + ${some} + '!'"/>
</body>
</html>